name: Next.js App

on:
  push:
    branches:
      - development
      - production
      - work/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - development
      - production
      - work/*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Upload
        if: ${{ contains(fromJson('["development", "production"]'), github.ref_name) }}
        uses: actions/upload-artifact@v3
        with:
          name: built_workspace
          path: ${{ github.workspace }}
  deploy_development:
    if: ${{ github.ref_name == 'development' }}
    name: Deploy Development
    environment: development
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download
        uses: actions/download-artifact@v3
        with:
          name: built_workspace
          path: ${{ github.workspace }}
      - name: Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: '/'
          action: 'upload'
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APP_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
  deploy_production:
    if: ${{ github.ref_name == 'production' }}
    name: Deploy Production
    environment: production
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download
        uses: actions/download-artifact@v3
        with:
          name: built_workspace
          path: ${{ github.workspace }}
      - name: Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: '/'
          action: 'upload'
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APP_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}