name: Azure Static Web App

on:
  push:
    branches:
      - development
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - development

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 19
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy
        if: github.event_name == 'push'
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: '/.next'
          action: 'upload'
          skip_app_build: true
          azure_static_web_apps_api_token: secrets.AZURE_STATIC_WEB_APP_API_TOKEN
          repo_token: secrets.GITHUB_TOKEN